<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
      <th colspan="2"></th>
  </tr>
 
  <% @stations.each do |station| %>
    <tr>
      <td><%= station.station_number %></td>
      <td><%= station.social_reason %></td>
      <td><%= link_to 'Mostrar', station_path(station) %></td>
          <td><%= link_to 'Modificar', edit_station_path(station.id) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Agregar estación', new_station_path %>