
<h1>Agregar estación</h1>
<%= form_for :station, url: stations_path do |f| %>
 <p>
     <%= f.label :station_number %><br>
    <%= f.text_field :station_number %>
  </p>
  <p>
     <%= f.label :social_reason %><br>
    <%= f.text_field :social_reason %>
  </p>
   <p>
     <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
     <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code %>
  </p>
   <p>
     <%= f.label :state_id %><br>
     <%= collection_select(:station, :state_id, State.all, :id, :name) %>
  </p>
   <p>
     <%= f.label :municipality_id %><br>
    <%= collection_select(:station, :municipality_id, Municipality.where(state: 1) , :id, :name)%>
  </p>
  <p>
     <%= f.label :siic %><br>
    <%= f.text_field :siic %>
  </p>
   <p>
     <%= f.label :colony %><br>
    <%= f.text_field :colony %>
  </p>
     <p>
     <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>
    <p>
     <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
    <p>
     <%= f.label :vpm %><br>
    <%= f.text_field :vpm %>
  </p>
    <p>
     <%= f.label :cualli %>
    <%= check_box_tag 'station_cualli',true  %>
  </p>
  <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
    <p>
     <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </p>
    <p>
     <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </p>
    <p>
     <%= f.label :organization_id %><br>
    <%= collection_select(:station, :organization_id, Organization.all, :id, :name) %>
  </p>
   <p>
     <%= f.label :fuel_id %><br>
  <%= select_tag :fuel_id, options_from_collection_for_select(Fuel.all, 'id', 'name'), :multiple => true %>
   <p>
   
 <p>
    <%= f.submit %><%= link_to 'Regresar', stations_path %>
  </p>
<% end %>
