 <p>      <strong>Numero de estación:</strong><br>     
 <%= @station.station_number %>   </p>  
  <p>       <strong>Tazon social:</strong><br>     
  <%= @station.social_reason %>   </p>
<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
