<%= form_for(@cause) do |f| %>
  <% if @cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% @cause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :clave %><br>
    <%= f.text_field :clave %>
  </div>
  <div class="field">
    <%= f.label :descrition %><br>
    <%= f.text_area :descrition %>
  </div>
  <div class="field">
    <%= f.label :cause %><br>
    <%= f.text_field :cause %>
  </div>
  <div class="field">
    <%= f.label :technique_description %><br>
    <%= f.text_area :technique_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
