<h1>Listing causes</h1>

<table>
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descrition</th>
      <th>Cause</th>
      <th>Technique description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @causes.each do |cause| %>
      <tr>
        <td><%= cause.clave %></td>
        <td><%= cause.descrition %></td>
        <td><%= cause.cause %></td>
        <td><%= cause.technique_description %></td>
        <td><%= link_to 'Show', cause %></td>
        <td><%= link_to 'Edit', edit_cause_path(cause) %></td>
        <td><%= link_to 'Destroy', cause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cause', new_cause_path %>
