<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @cause.clave %>
</p>

<p>
  <strong>Descrition:</strong>
  <%= @cause.descrition %>
</p>

<p>
  <strong>Cause:</strong>
  <%= @cause.cause %>
</p>

<p>
  <strong>Technique description:</strong>
  <%= @cause.technique_description %>
</p>

<%= link_to 'Edit', edit_cause_path(@cause) %> |
<%= link_to 'Back', causes_path %>
