<%= form_for(@fuel) do |f| %>
  <% if @fuel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fuel.errors.count, "error") %> prohibited this fuel from being saved:</h2>

      <ul>
      <% @fuel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :descrition %><br>
    <%= f.text_area :descrition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
