<h1>Listing fuels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Descrition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fuels.each do |fuel| %>
      <tr>
        <td><%= fuel.name %></td>
        <td><%= fuel.descrition %></td>
        <td><%= link_to 'Show', fuel %></td>
        <td><%= link_to 'Edit', edit_fuel_path(fuel) %></td>
        <td><%= link_to 'Destroy', fuel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fuel', new_fuel_path %>
