<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fuel.name %>
</p>

<p>
  <strong>Descrition:</strong>
  <%= @fuel.descrition %>
</p>

<%= link_to 'Edit', edit_fuel_path(@fuel) %> |
<%= link_to 'Back', fuels_path %>
